﻿
@{
    ViewBag.Title = "VanChuyen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div style="margin:2px; ">
    <img src="~/assets/images/layout/ChinhSachVanChuyen.png" alt="Chính sách vận chuyển" style="max-width: 100%;" />
</div>

